// ==========================================================================
// Theme test
// ==========================================================================
$themed-body-background: rgb(235, 93, 93) !default;

$themed-site-header-height: 56px !default;
$themed-site-header-background: rgba(230, 223, 223, 0.7) !default;

$themed-site-body-background: rgba(218, 209, 209, 0.7) !default;

$themed-site-footer-height: 56px !default;
$themed-site-footer-background: rgba(230, 223, 223, 0.7) !default;

$themed-singlepage-content-background: rgba(240, 239, 239, 0.993) !default;


