<aside class="site-body-aside">
    <section class="aside-module">
        <h2>Categories</h2>
        <ul>
            {% assign site_categories = site.categories %}
            {% if site_categories.first[0] == null %}
            {% for category in site_categories %}
            <li><a href="{{ '/categories.html' | relative_url }}#{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category |
                    camelcase }} ({{ site.tags[category].size }})</a></li>
            {% endfor %}
            {% else %}
            {% for category in site_categories %}
            <li><a href="{{ '/categories.html' | relative_url }}#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] |
                    camelcase }} ({{ category[1].size }})</a></li>
            {% endfor %}
            {% endif %}
            {% assign site_categories = nil %}
        </ul>
    </section>
    <section class="aside-module">
        <h2>Tags</h2>
        <div>
            {%- for tag in site.tags -%}
            <span>{{ tag | first }}</span>
            {%- endfor -%}
        </div>
    </section>
    <section class="aside-module">
        <h2>Recent Posts</h2>
        <ul>
            {%- for post in site.posts limit: 3 -%}
            <li>- {{ post.title }}</li>
            {%- endfor -%}
        </ul>
    </section>
</aside>