.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: calc(100vw - 100%);
}

// ==========================================================================
// Site header
// ==========================================================================
.site-header {
    height: $themed-site-header-height;
    background: $themed-site-header-background;
    border-top: 5px solid #424242;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;

    nav {
        line-height: calc(56px - 5px - 1px);

        .logo {
            float: left;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 700px;
            letter-spacing: 1px;
        }

        ul {
            float: right;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-right: 20px;
                font-size: 14px;
            }
        }

        a {
            display: inline-block;
        }
    }
}

// ==========================================================================
// Site body
// ==========================================================================
.site-body {
    margin: 0 auto;
    box-sizing: border-box;
    min-height: calc(100vh - #{$themed-site-header-height} - #{$themed-site-footer-height});
    background: $themed-site-body-background;
}

.site-body-content,
.site-body-aside {
    box-sizing: border-box;
    min-height: inherit;
    padding: 15px;
}

.site-body-aside {
    float: right;
    width: 30%;
    padding-left: 10px;
}


.site-body-content.layout-home,
.site-body-content.layout-post {
    float: left;
    width: 70%;
    padding-right: 10px;
}

.site-body-content.layout-page {
    width: 100%;
}

// ==========================================================================
// Site footer
// ==========================================================================
.site-footer {
    height: $themed-site-footer-height;
    background: $themed-site-header-background;
    border-top: 1px solid #efefef;
    border-bottom: 5px solid #424242;
    box-sizing: border-box;

    .copyright {
        line-height: calc(56px - 5px - 1px);
        text-align: center;
    }
}

// ==========================================================================
// Blog Post 
// ==========================================================================
.layout-home > .article-module {
    @include module();

    header {

        h2,
        time {
            display: inline-block;
        }
    }

    i {
        color: rgb(182, 211, 236);
    }
}

.site-body-aside > .aside-module {
    @include module();

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.layout-post > .blogpost {
    @include page();

    .blogpost-title,
    .blogpost-meta {
        display: inline-block;
    }
}

.layout-page > .singlepage {
    @include page();

    .singlepage-header {
        margin: 30px 0;
    }

    .singlepage-title {
        font-size: 32px;
    }

    .singlepage-content {
        margin-bottom: 30px;
    }
}