
@import "variable";

body {
    background: $themed-body-background;
    font-family: "Consolas", "Monaco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    overflow: hidden;
}

// Layout: header
// ---------------------------------------------------------------------------
#header {
    height: $themed-header-height;
    background: $themed-header-background;
    border-top: 5px solid #424242;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}

nav {
    line-height: calc(56px - 5px - 1px);

    .logo {
        float: left;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700px;
        letter-spacing: 1px;
    }

    ul {
        float: right;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 20px;
            font-size: 14px;
        }
    }

    a {
        display: inline-block;
    }
}

// Layout: main
// ---------------------------------------------------------------------------
#main {
    margin: 0 auto;
    box-sizing: border-box;
    min-height: calc(100vh - #{$themed-header-height} - #{$themed-footer-height});
    background: $themed-main-background;
}

.content,
.sidebar {
    box-sizing: border-box;
    padding: 15px;
}

.content {
    float: left;
    width: 70%;
    padding-right: 10px;
}

.sidebar {
    float: right;
    width: 30%;
    padding-left: 10px;
}

.article,
.aside {
    margin-bottom: 10px;
    padding: 15px 20px;
    background: #fdfdfd;
}

.article header h2,
.article header time {
    display: inline-block;
}

.article i {
    color: rgb(182, 211, 236);
}

.aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Layout: footer
// ---------------------------------------------------------------------------

#footer {
    height: $themed-footer-height;
    background: $themed-header-background;
    border-top: 1px solid #efefef;
    border-bottom: 5px solid #424242;
    box-sizing: border-box;
}

.copyright {
    line-height: calc(56px - 5px - 1px);
    text-align: center;
}


// Blog Post 
// ---------------------------------------------------------------------------
.blogpost {
    margin-bottom: 10px;
    padding: 15px 20px 75px;
    background: #fdfdfd;
}

.blogpost-title, .blogpost-meta {
    display: inline-block;
}

.page {
    padding: 20px 10px 20px 20px;
}

.page-header {
    margin: 30px 0;
}

.page-title {
    font-size: 32px;
}

.page-content {
    margin-bottom: 30px;
}

