// ==========================================================================
// Mixins
// ==========================================================================
@mixin sidebar($enabled, $aside) {
  @if (not $enabled) {
    display: none;
  } @else if ($aside=='left') {
    order: -1;
    margin-right: 15px;
  } @else {
    margin-left: 15px;
  }
}

@mixin chip() {
  background: rgba(197, 209, 207, 0.5);
  padding: 3px 5px;
  margin: 3px;
  font-size: 12px;
  border-radius: 5px;
}

@mixin trim() {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
