// ==========================================================================
// Themed variables. These values will be set as default theme values.
// ==========================================================================


$background: rgb(235, 235, 235) !default;
$font-family: "Consolas", "Monaco", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$line-height: 1.5;

$site-width: 1140px;

$site-header-min-height: 60px !default;
$site-header-background: rgba(243, 243, 243, 0.945) !default;

$site-body-background: rgba(255, 255, 255, .3) !default;

$site-footer-min-height: 60px !default;
$site-footer-background: rgba(243, 243, 243, 0.945) !default;

$card-background: #ffffff !default;




