// Themed variables
// ---------------------------------------------------------------------------
$themed-body-background: rgb(235, 235, 235);
$themed-main-background: rgba(218, 209, 209, 0.7);

$themed-header-height: 56px;
$themed-header-background: rgba(230, 223, 223, 0.7);

$themed-footer-height: 56px;
$themed-footer-background: rgba(230, 223, 223, 0.7);

$themed-singlepage-content-background: rgba(240, 239, 239, 0.993);
