.site-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 1px;
  }

  .site-menu {
    ul {
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 20px;
        font-size: 14px;
      }
    }

    a {
      display: inline-block;
    }
  }
}
