.site {
  margin: 0 auto;
  max-width: $site-width;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#site-header {
  box-sizing: border-box;
  height: $site-header-height;
  background: $site-header-background;
  border-top: 5px solid #424242;
}

#site-footer {
  box-sizing: border-box;
  height: $site-footer-height;
  background: $site-footer-background;
  border-bottom: 5px solid #424242;
}

#site-body {
  box-sizing: border-box;
  background: $site-body-background;
  margin: 10px 0;
  max-width: inherit;
  flex: auto;
  display: flex;
}

#site-sidebar {
  box-sizing: border-box;
  flex: 1 0 320px;
  @include sidebar($sidebar-enabled, $sidebar-aside);
}

#site-main {
  box-sizing: border-box;
  max-width: inherit;
  flex: auto;
  display: flex;
  flex-flow: column;
}

@media (max-width: 760px) {
  #site-sidebar {
    display: none;
  }
}
