.site {
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#site-header {
  box-sizing: border-box;
  height: $site-header-height;
  background: $site-header-background;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #efefef;
}

#site-footer {
  box-sizing: border-box;
  height: $site-footer-height;
  background: $site-footer-background;
  border-top: 1px solid #efefef;
  border-bottom: 5px solid #424242;
}

#site-body {
  box-sizing: border-box;
  background: $site-body-background;
  flex: auto;
  display: flex;
}

#site-sidebar {
  box-sizing: border-box;
  // padding: 15px;
  width: 320px;
  @include sidebar($sidebar-enabled, $sidebar-aside);
}

#site-main {
  box-sizing: border-box;
  // padding: 15px;
  flex: auto;
}


@media (max-width: 760px) {
  #site-sidebar {
    display: none;
  }
}
