.site {
  box-sizing: border-box;
  margin: 0 auto;
  // max-width: 1140px;
  // padding-left: calc(100vw - 100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}

#site-header {
  box-sizing: border-box;
  height: $site-header-height;
  background: $site-header-background;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #efefef;
}

#site-footer {
  box-sizing: border-box;
  height: $site-footer-height;
  background: $site-footer-background;
  border-top: 1px solid #efefef;
  border-bottom: 5px solid #424242;
}

#site-body {
  box-sizing: border-box;
  // margin: 0 auto;
  // min-height: calc(100vh - #{$site-header-height} - #{$site-footer-height});
  background: $site-body-background;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
}


#site-main,
#site-aside {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: inherit;
  padding: 15px;
}

#site-aside {
  // float: right;
  width: 30%;
  padding-left: 10px;
  border-left: 1px solid;
}

#site-main.layout-home {
  float: left;
  // width: 70%;
  width: 100%;
  padding-right: 10px;
}
