.site-main-content.singlepage {
  box-sizing: border-box;
  padding: 15px 20px;
  background: #fdfdfd;

  .singlepage-header {
    margin: 30px 0;
  }

  .singlepage-title {
    font-size: 32px;
  }

  .singlepage-content {
    margin-bottom: 30px;
  }
}
